@charset "utf-8";

$headings-font-family: 'Merriweather', serif;
$headings-font-weight: 300;

$brand-primary: #63c6ae;
$brand-info: #666;

$carousel-indicator-border-color: $brand-primary;
$carousel-indicator-active-bg: $carousel-indicator-border-color;

$border-radius-large: 0;

$modal-inner-padding: 0;

$grid-gutter-width: 10px;

$thumbnail-border: lighten(#000, 93.5%);
$thumbnail-border-radius: 0;

@import 'bootstrap';
@import "font-awesome-sprockets";
@import 'font-awesome';
@import "magnific-popup";

@import 'components/hero_unit';
@import 'components/project_header';
@import 'components/project_tile';

.thumbnail > .flush-thumb {
  margin-top: -$thumbnail-padding;
  margin-left: -$thumbnail-padding;
  margin-right: -$thumbnail-padding;
  display: block;
  position: relative;

  > img {
    width: 100%;
  }

  > div.category {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(#000, 0.5);
    color: #fff;
    font-size: 10px;
    padding: 2px 5px;
    text-transform: uppercase;
  }
}

.external-link-item {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  width:  20px;
  height: 20px;
  margin-top: -10px;
}
