@charset "utf-8";

$headings-font-family: 'Merriweather', serif;
$headings-font-weight: 300;

$brand-primary: #a37c79;
$brand-info: #666;
$hero-text: #f2f1f2;

$carousel-indicator-border-color: $brand-primary;
$carousel-indicator-active-bg: $carousel-indicator-border-color;

$border-radius-large: 0;

$modal-inner-padding: 0;

$thumbnail-border: lighten(#000, 93.5%);
$thumbnail-border-radius: 0;

@import 'bootstrap';
@import "font-awesome-sprockets";
@import 'font-awesome';
@import "magnific-popup";

@import 'components/main_header';
@import 'components/hero_unit';
@import 'components/project_header';
@import 'components/project_tile';
